<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilosh.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7762120437.js" crossorigin="anonymous"></script>
    <title>Contacto</title>
  </head>
  <body>
   
    <header class="header">
        <div class="bg-dark ">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class=" navg navbar-nav w-100 justify-content-center " >
                        <a class="nav-item nav-link active" href="/">inicio</a>
                        <a class="nav-item nav-link" href="/terminos">Terminos y condiciones</a>
                        <a class="nav-item nav-link" href="/alquilar_1">Alquilar un vehiculo</a>
                        <a class="nav-item nav-link" href="/contacto#">Contactenos</a>
                        <a class="nav-item nav-link" href="#">
                          <form action="/users/terminar-sesion" method="post">
                            <button>Cerrar Sesión</button>
                          </form>
                         </a>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>

        <div class="text-header d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <h1 style="font-size: 40px; font-family:Verdana, Geneva, Tahoma, sans-serif">Contáctenos</h1><br/>
                        <p style="font-size: 20px;">Si usted desea comunicarse con nosotros puede escribirnos a los siguientes medios:</p>
                        <p style="font-size: 20px;"><i class="fab fa-whatsapp"></i> Whatsapp: 987654321</p>
                        <p style="font-size: 20px;"><i class="far fa-envelope"></i> Correo: autoservice2021@hotmail.com</p><br/>
                        <h1 style="font-size: 40px;font-family:Verdana, Geneva, Tahoma, sans-serif"> Atención de Lunes a Sábado</h1><br/>
                        <p style="font-size: 20px;" ><i class="far fa-clock"></i> Horario: 8:00 - 22:00</p>
                    </div>

                </div>
            </div>
        </div>

    </header>


    <footer class="pie-pagina">
      <div class="grupo-1">
          <div class="box">
              <figure>
                  <a href="#">
                      <img src="../img/logo_2.png" alt="Logo de SLee Dw">
                  </a>
              </figure>
          </div>
          <div class="box">
              <h2>SOBRE NOSOTROS</h2>
              <p>Desarrollado por G-4:</p>
              <p>Local: Aija 4900, Los Olivos 15304</p>
              <p>Teléfono: 921301340 / 987654321</p>
          </div>
          <div class="box">
              <h2>SIGUENOS</h2>
              <div class="red-social">
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-instagram"></a>
                  <a href="#" class="fa fa-twitter"></a>
                  <a href="#" class="fa fa-youtube"></a>
              </div>
          </div>
      </div>
      <div class="grupo-2">
          <small>&copy; 2021 <b>Autoservice Perú</b> - Todos los Derechos Reservados.</small>
      </div>
  </footer>

        <section>

        </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>